{
  "plugins": [
    "lodash"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 9.1",
            "ie >= 11"
          ]
        },
        "modules": false
      }
    ]
  ]
}